<form class="brp brp-healing-dialog" id="treat-wound-form">
  {{#if selectedWoundName}}
    <div class="flexcol brp-healing-selected-wound">
      <div class="stat-name darkred centre">{{localize 'BRP.wound'}}</div>
      <div class="brp-healing-selected-wound-name">{{selectedWoundName}}</div>
    </div>
  {{/if}}

  <div class="flexcol">
    <div class="stat-name darkred centre">{{localize 'BRP.healPrompt'}}</div>
    <div class="flexrow">
      <input class="stat-name centre" name="treatWound" type="number"/>
    </div>
  </div>

  {{#if getType}}
    <div class="flexcol">
      <div class="stat-name darkred centre">{{localize 'BRP.healType'}}</div>
      <div class="flexrow">
        <select class="stat-name centre" data-handle-change name="healType">
          {{selectOptions healTypes}}
        </select>
      </div>
    </div>
  {{/if}}

  {{#if getWnd}}
    <div class="flexcol">
      <div class="stat-name darkred centre">{{localize 'BRP.selectWound'}}</div>
      <div class="flexrow">
        <select class="stat-name centre" data-handle-change name="woundId">
          {{selectOptions wndList}}
        </select>
      </div>
    </div>
  {{/if}}

  <div class="flexcol">
    <div class="stat-name darkred centre">{{localize 'BRP.healingResult'}}</div>
    <div class="flexrow">
      <select class="stat-name centre" data-handle-change name="result">
        {{selectOptions resultLevels}}
      </select>
    </div>
  </div>

  <div class="flexcol">
    <div class="stat-name darkred centre">{{localize 'BRP.notes'}}</div>
    <div class="flexrow">
      <textarea class="brp-healing-note" name="note" rows="3"></textarea>
    </div>
  </div>

</form>
