<div class="brp-item-detail-label brp-item-detail-row-full">{{localize label}}</div>
<div class="brp-item-detail-field brp-item-detail-row-full">
  <textarea class="brp-item-detail-textarea{{#if textareaClass}} {{textareaClass}}{{/if}}" name="{{name}}" rows="{{#if rows}}{{rows}}{{else}}4{{/if}}">{{value}}</textarea>
</div>
