<section class="actor tab dev {{tab.cssClass}}" data-group="primary" data-tab="dev">
  <section class="brp-development">
    <div class="brp-development-toolbar">
      <div class="brp-development-title">{{localize 'BRP.improve'}}</div>
      <div class="brp-development-actions">
        {{#each developmentView.actions as |action key|}}
          {{#if action.enabled}}
            <a class="brp-development-action" data-action="{{action.action}}" {{#if action.prop}}data-prop="{{action.prop}}"{{/if}} data-roll="{{action.roll}}" data-tooltip="{{localize action.label}} {{action.tooltip}}">
              <i class="{{action.icon}}"></i>
            </a>
          {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="brp-development-grid brp-development-header-row">
      {{#each developmentView.improve.columns as |column key|}}
        <div class="brp-development-heading centre truncate" {{#if column.tooltip}}data-tooltip="{{column.tooltip}}"{{/if}}>
          {{localize column.label}}
        </div>
      {{/each}}
    </div>

    <ol class="brp-development-list">
      {{#each developmentView.improve.rows as |impItem id|}}
        <li class="item brp-development-grid brp-development-row" data-item-id="{{impItem.id}}" data-opp="{{impItem.opposite}}" data-document-class="{{impItem.documentType}}">
          <div class="brp-development-name rollable improvtab truncate" data-action="viewDoc" data-tooltip="{{localize 'BRP.viewItem' type=impItem.typeLabel }}">
            {{impItem.name}}
          </div>
          <div class="brp-development-cell centre">{{impItem.typeLabel}}</div>
          <div class="brp-development-cell centre">{{impItem.score}}</div>
          {{#each impItem.actions as |action key|}}
            <a class="brp-development-row-action" data-action="{{action.action}}" data-prop="{{action.prop}}" data-roll="{{action.roll}}" data-tooltip="{{localize action.label}}">
              <i class="{{action.icon}}"></i>
            </a>
          {{/each}}
        </li>
      {{/each}}
    </ol>
  </section>
</section>
