<section class="actor tab sorcery {{tab.cssClass}}" data-group="primary" data-tab="sorcery">
  <section class="brp-powers brp-powers-sorcery">
    <section class="brp-power-section">
      <div class="brp-power-section-header">
        <div class="brp-power-section-title">{{powersView.sorcery.label}}</div>
        <a class="brp-icon-button largeIcon" data-action="{{powersView.sorcery.createAction.action}}" data-document-class="{{powersView.sorcery.createAction.documentClass}}" data-type="{{powersView.sorcery.createAction.type}}" data-tooltip="{{localize powersView.sorcery.addTooltip type=powersView.sorcery.label}}">
          <i class="item-control fas fa-plus"></i>
        </a>
      </div>

      <ol class="brp-power-list brp-power-list-sorcery">
        {{#each powersView.sorcery.rows as |sorcery id|}}
          <li class="item brp-power-row brp-power-row-sorcery {{#if sorcery.hasEffects}}has-effects{{/if}}" data-item-id="{{sorcery.id}}" data-document-class="{{sorcery.documentType}}" data-drag="true">
            <div class="brp-power-main">
              <div class="brp-power-name rollable truncate {{#if sorcery.flags.hasEffects}}italics bold{{/if}}" data-action="viewDoc" data-tooltip="{{localize 'BRP.viewSpell' type=../powersView.sorcery.label }}">
                {{sorcery.displayTitle}}
              </div>
              {{#if sorcery.shortDescription}}<div class="brp-power-subtitle truncate">{{sorcery.shortDescription}}</div>{{/if}}
            </div>

            <div class="brp-power-actions">
              {{#each sorcery.actions as |action key|}}
                <a class="brp-power-action {{#if action.active}}is-active{{/if}}" data-action="{{action.action}}" data-property="{{action.property}}" data-tooltip="{{localize action.tooltipKey}}">
                  <i class="{{#if action.active}}{{action.activeIcon}}{{else}}{{action.inactiveIcon}}{{/if}}"></i>
                </a>
              {{/each}}
            </div>

            <div class="brp-power-cells">
              {{#each sorcery.summaryCells as |cell key|}}
                <div class="brp-power-cell {{#if cell.rollable}}rollable{{/if}}" {{#if cell.action}}data-action="{{cell.action}}"{{/if}} {{#if cell.tooltipKey}}data-tooltip="{{localize cell.tooltipKey}}"{{/if}}>
                  <span>{{#if cell.labelKey}}{{localize cell.labelKey}}{{else}}{{cell.label}}{{/if}}</span>
                  <strong>{{#if cell.valueKey}}{{localize cell.valueKey}}{{else}}{{cell.value}}{{/if}}</strong>
                </div>
              {{/each}}
            </div>
          </li>
        {{/each}}
      </ol>
    </section>
  </section>
</section>
