<section class="actor tab magic {{tab.cssClass}}" data-group="primary" data-tab="magic">
  {{#if system.lock}}
    {{! Normal Magic Layout}}
    <section class="brp-powers brp-powers-magic">
      <section class="brp-power-section">
        <div class="brp-power-section-header">
          <div class="brp-power-section-title">{{powersView.magic.label}}</div>
          <a class="brp-icon-button largeIcon" data-action="{{powersView.magic.createAction.action}}" data-document-class="{{powersView.magic.createAction.documentClass}}" data-type="{{powersView.magic.createAction.type}}" data-tooltip="{{localize powersView.magic.addTooltip type=powersView.magic.label}}">
            <i class="item-control fas fa-plus"></i>
          </a>
        </div>

        <ol class="brp-power-list brp-power-list-magic">
          {{#each powersView.magic.rows as |magic id|}}
            <li class="item brp-power-row brp-power-row-magic {{#if magic.hasEffects}}has-effects{{/if}}" data-item-id="{{magic.id}}" data-document-class="{{magic.documentType}}" data-drag="true">
              <div class="brp-power-main">
                <div class="brp-power-name rollable truncate {{#if magic.flags.hasEffects}}italics bold{{/if}}" data-action="viewDoc" data-tooltip="{{localize 'BRP.viewSpell' type=../powersView.magic.label }}">
                  {{magic.displayTitle}}
                </div>
                {{#if magic.shortDescription}}<div class="brp-power-subtitle truncate">{{magic.shortDescription}}</div>{{/if}}
              </div>

              <div class="brp-power-actions">
                {{#each magic.actions as |action key|}}
                  <a class="brp-power-action {{#if action.active}}is-active{{/if}}" data-action="{{action.action}}" data-property="{{action.property}}" data-tooltip="{{localize action.tooltipKey}}">
                    <i class="{{#if action.active}}{{action.activeIcon}}{{else}}{{action.inactiveIcon}}{{/if}}"></i>
                  </a>
                {{/each}}
              </div>

              <div class="brp-power-cells">
                {{#each magic.summaryCells as |cell key|}}
                  <div class="brp-power-cell {{#if cell.rollable}}rollable{{/if}}" {{#if cell.action}}data-action="{{cell.action}}"{{/if}} {{#if cell.tooltipKey}}data-tooltip="{{localize cell.tooltipKey}}"{{/if}}>
                    <span>{{#if cell.labelKey}}{{localize cell.labelKey}}{{else}}{{cell.label}}{{/if}}</span>
                    <strong>{{#if cell.valueKey}}{{localize cell.valueKey}}{{else}}{{cell.value}}{{/if}}</strong>
                  </div>
                {{/each}}
              </div>
            </li>
          {{/each}}
        </ol>
      </section>
    </section>

  {{else}}
    {{! Magic Development Layout}}
    <ol class="stats-list">
      <div class="skills-tab-grid">
        <div class="skill-cell-name diff-label">{{ localize 'BRP.spell'}}</div>
        <div class="skill-cell diff-label truncate centre">{{ localize 'BRP.base'}}</div>
        <div class="skill-cell diff-label truncate centre" data-tooltip="{{localize 'BRP.personality'}}">{{ localize 'BRP.personalityShort'}}</div>
        <div class="skill-cell diff-label truncate centre" data-tooltip="{{localize 'BRP.profession'}}">{{ localize 'BRP.profShort'}}</div>
        <div class="skill-cell diff-label truncate centre" data-tooltip="{{localize 'BRP.culture'}}">{{ localize 'BRP.culture'}}</div>
        <div class="skill-cell diff-label truncate centre" data-tooltip="{{localize 'BRP.psp'}}">{{ localize 'BRP.personalShort'}}</div>
        <div class="skill-cell diff-label truncate centre" data-tooltip="{{localize 'BRP.experience'}}">{{ localize 'BRP.xp'}}</div>
        <div class="skill-cell diff-label truncate centre" data-tooltip="{{localize 'BRP.effects'}}">{{ localize 'BRP.effectsShort'}}</div>
        <div class="skill-cell diff-label truncate centre" data-tooltip="{{localize 'BRP.category'}}">{{ localize 'BRP.categoryShort'}}</div>
        <div class="skill-cell diff-label truncate centre">{{ localize 'BRP.total'}}</div>
      </div>
      {{#each powersView.magic.rows as |magic id|}}
        <li class="item skills-tab-grid" style="list-style:none;" data-item-id="{{magic.id}}" data-document-class='Item'>
          <div class="skill-cell-name rollable bold" data-action="viewDoc"
            data-tooltip="{{localize 'BRP.viewSpell' type=../powersView.magic.label }}">{{magic.title}}</div>
          <input class="skill-cell-input centre inline-edit"
            data-field="base" name="magic.system.base" type="number"
            value="{{magic.development.base}}"/>
          <input class="skill-cell-input centre inline-edit {{#if magic.development.personalityHighlight}} skill-prsnlty {{/if}}"
            data-field="personality"  name="magic.system.personality" type="number"
            value="{{magic.development.personality}}"/>
          <input class="skill-cell-input centre inline-edit {{#if magic.development.professionHighlight}} skill-occ {{/if}}"
            data-field="profession"  name="magic.system.profession" type="number"
            value="{{magic.development.profession}}"/>
          <input class="skill-cell-input centre inline-edit {{#if magic.development.cultureHighlight}} skill-prsnlty {{/if}}"
            data-field="culture"  name="magic.system.culture" type="number"
            value="{{magic.development.culture}}"/>
          <input class="skill-cell-input skill-pers centre inline-edit"
            data-field="personal"  name="magic.system.personal" type="number"
            value="{{magic.development.personal}}"/>
          <input class="skill-cell-input centre inline-edit"
            data-field="xp" name="magic.system.xp" type="number"
            value="{{magic.development.xp}}"/>
          <input class="skill-cell-input centre inline-edit"
            data-field="effects" name="magic.system.effects" type="number"
            value="{{magic.development.effects}}"/>
          <div class="skill-cell centre">{{magic.development.categoryBonus}}</div>
          <div class="skill-cell centre lightgrey skill-name rollable" data-action="skillRoll"
            data-tooltip="{{localize 'BRP.skillHint'}}">{{magic.grandTotal}}</div>
        </li>
      {{/each}}
      <div class="skills-tab-grid">
        <div class="skill-cell-nametotal grey bold">{{ localize 'BRP.total'}}</div>
        <div class="skill-cell centre grey"></div>
        <div class="skill-cell centre grey"></div>
        <div class="skill-cell centre grey">{{this.actor.system.totalProf}}</div>
        <div class="skill-cell centre grey">{{this.actor.system.totalPers}}</div>
        <div class="skill-cell centre grey"></div>
        <div class="skill-cell centre grey"></div>
        <div class="skill-cell centre grey"></div>
        <div class="skill-cell centre grey"></div>
        <div class="skill-cell centre grey"></div>
      </div>
    </ol>
  {{/if}}
</section>
