<section class="actor tab super {{tab.cssClass}}" data-group="primary" data-tab="super">
  <section class="brp-powers brp-powers-super">
    <section class="brp-power-section">
      <div class="brp-power-section-header">
        <div class="brp-power-section-title">{{powersView.super.label}}</div>
        <a class="brp-icon-button largeIcon" data-action="{{powersView.super.createAction.action}}" data-document-class="{{powersView.super.createAction.documentClass}}" data-type="{{powersView.super.createAction.type}}" data-tooltip="{{localize powersView.super.addTooltip type=powersView.super.label}}">
          <i class="item-control fas fa-plus"></i>
        </a>
      </div>

      <ol class="brp-power-list brp-power-list-super">
        {{#each powersView.super.powers as |super id|}}
          <li class="item brp-power-row brp-power-row-super {{#if super.hasEffects}}has-effects{{/if}}" data-item-id="{{super.id}}" data-document-class="{{super.documentType}}" data-drag="true">
            <div class="brp-power-main">
              <div class="brp-power-name rollable truncate {{#if super.flags.hasEffects}}italics bold{{/if}}" data-action="viewDoc" data-tooltip="{{localize 'BRP.viewSpell' type=../powersView.super.label }}">
                {{super.displayTitle}}
              </div>
              {{#if super.shortDescription}}<div class="brp-power-subtitle truncate">{{super.shortDescription}}</div>{{/if}}
            </div>

            <div class="brp-power-actions"></div>

            <div class="brp-power-cells">
              {{#each super.summaryCells as |cell key|}}
                <div class="brp-power-cell {{#if cell.rollable}}rollable{{/if}}" {{#if cell.action}}data-action="{{cell.action}}"{{/if}} {{#if cell.tooltipKey}}data-tooltip="{{localize cell.tooltipKey}}"{{/if}}>
                  <span>{{#if cell.labelKey}}{{localize cell.labelKey}}{{else}}{{cell.label}}{{/if}}</span>
                  <strong>{{#if cell.valueKey}}{{localize cell.valueKey}}{{else}}{{cell.value}}{{/if}}</strong>
                </div>
              {{/each}}
            </div>
          </li>
        {{/each}}
      </ol>
    </section>

    <section class="brp-power-section brp-failing-section">
      <div class="brp-power-section-header">
        <div class="brp-power-section-title">{{localize powersView.super.failingLabel}}</div>
        <a class="brp-icon-button largeIcon" data-action="{{powersView.super.failingCreateAction.action}}" data-document-class="{{powersView.super.failingCreateAction.documentClass}}" data-type="{{powersView.super.failingCreateAction.type}}" data-tooltip="{{localize powersView.super.addTooltip type=(localize powersView.super.failingTypeLabel)}}">
          <i class="item-control fas fa-plus"></i>
        </a>
      </div>

      <ol class="brp-power-list brp-power-list-failings">
        {{#each powersView.super.failings as |failing id|}}
          <li class="item brp-power-row brp-power-row-failing {{#if failing.hasEffects}}has-effects{{/if}}" data-item-id="{{failing.id}}" data-document-class="{{failing.documentType}}" data-drag="true">
            <div class="brp-power-main">
              <div class="brp-power-name rollable truncate {{#if failing.flags.hasEffects}}italics bold{{/if}}" data-action="viewDoc" data-tooltip="{{localize 'BRP.viewSpell' type=(localize ../powersView.super.failingTypeLabel)}}">
                {{failing.displayTitle}}
              </div>
            </div>
          </li>
        {{/each}}
      </ol>
    </section>
  </section>
</section>
